/* src/index.css */
@import 'tailwindcss';

:root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ページ全体を上下左右中央寄せ */
body {
  @apply flex items-center justify-center min-h-screen text-center;
}

/* 見出しスタイル（階層に応じてサイズを調整） */
h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-semibold;
}

h3 {
  @apply text-2xl font-medium;
}

h4 {
  @apply text-xl font-medium;
}
