/* src/index.css */
@import 'tailwindcss';

:root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ページ全体を上下左右中央寄せ */
body {
  @apply flex items-center justify-center min-h-screen text-center;
}
